.card-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 110px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    width: 100%;
    margin-top: 20px;
}

.item .item-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-cont {
    --tw-space-x-reverse: 0;
    margin-left: calc(1.25rem*(1 - var(--tw-space-x-reverse)));
    margin-right: calc(1.25rem*var(--tw-space-x-reverse));
}

.text-t {
    font-weight: 700;
    letter-spacing: .025em;
    font-size: 15px;
    margin-bottom: 0.25rem;
    font-family: Inter, sans-serif;
}

.text-p {
    --tw-text-opacity: 1;
    color: rgb(121 121 121/var(--tw-text-opacity));
    font-size: 1.2rem;
    line-height: 1.25rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: Inter, sans-serif;
    /* -webkit-text-size-adjust: 100%;
    tab-size: 4; */
}