.about-section {
    height: 173px;
    width: 100%;
    background-color: #FFFAEF;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-section h1 {
    font-size: 40px;
    font-weight: 500;
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.about-left img {
    width: 100%;
    border-radius: 10px;
}

.about-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
}