.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: white;
    z-index: 300;
    border-bottom: solid 1px #dddddd;
}

.logo {
    font-size: 2.5rem;
    font-weight: 600;
    cursor: default;
    color: #6D76EC;
}

.navbar a {
    font-size: 1.7rem;
    margin-left: 4rem;
    color: black;
}

.navbar a:hover {
    color: #6D76EC;
}

.navbar .select {
    color: #6D76EC;
}